services:
  config-service:
    build: ./config-service
    container_name: config-service
    ports:
      - "8888:8888"
    networks:
      - soa-net
    restart: unless-stopped


  eureka-service:
    build: ./eureka-service
    container_name: eureka-service
    ports:
      - "8761:8761"
    networks:
      - soa-net
    restart: unless-stopped
    depends_on:
      - config-service


  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "8080:8080"
    networks:
      - soa-net
    restart: unless-stopped
    depends_on:
      - eureka-service
      - config-service



  orgdirectory-service:
    build: ./second-service
    container_name: orgdirectory-service
    ports:
      - "8081:8081"
    networks:
      - soa-net
    restart: unless-stopped
    depends_on:
      - eureka-service
      - web-server
      - config-service

  orgdirectory-service-2:
    build: ./second-service
    container_name: orgdirectory-service-2
    ports:
      - "8089:8081"
    networks:
      - soa-net
    restart: unless-stopped
    depends_on:
      - eureka-service
      - web-server

  ejb-server:
    build:
      context: ./first-module
      dockerfile: Dockerfile-ejb-server
    container_name: ejb-server
    ports:
      - "8085:8080"
      - "9991:9990"
    networks:
      - soa-net
    restart: unless-stopped
    depends_on:
      - dev-pg12
    environment:
      - EJB_SERVER_NAME=ejb-server

  web-server:
    build:
      context: ./first-module
      dockerfile: Dockerfile-web-server
    container_name: web-server
    ports:
      - "8082:8080"
      - "9990:9990"
    networks:
      - soa-net
    restart: unless-stopped
    depends_on:
      - ejb-server
    environment:
      - EJB_SERVER_HOST=ejb-server
      - EJB_SERVER_PORT=8080
      - EJB_USERNAME=admin
      - EJB_PASSWORD=admin
      - SERVICE_NAME=organization-service
      - SERVICE_ID=web-server
      - SERVICE_PORT=8080
      - SERVICE_ADDRESS=web-server

  # wildfly:
  #   build:
  #     context: ./first-module
  #     dockerfile: Dockerfile-wildfly
  #   container_name: organization-service-wildfly
  #   ports:
  #     - "8086:8080"
  #     - "9992:9990"
  #   networks:
  #     - soa-net
  #   restart: unless-stopped

  organization-service-1:
    build:
      context: ./first-module
      dockerfile: Dockerfile-wildfly
    container_name: organization-service-1
    ports:
      - "8084:8080"
    networks:
      - soa-net
    restart: unless-stopped
    depends_on:
      - consul
    environment:
      - SERVICE_NAME=organization-service
      - SERVICE_ID=organization-service-1
      - SERVICE_PORT=8080
      - SERVICE_ADDRESS=organization-service-1

  organization-service-2:
    build:
      context: ./first-module
      dockerfile: Dockerfile-wildfly
    container_name: organization-service-2
    ports:
      - "8083:8080"
    networks:
      - soa-net
    restart: unless-stopped
    depends_on:
      - consul
    environment:
      - SERVICE_NAME=organization-service
      - SERVICE_ID=organization-service-2
      - SERVICE_PORT=8080
      - SERVICE_ADDRESS=organization-service-2

  consul:
    image: consul:1.14
    container_name: consul
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    command: "agent -dev -client=0.0.0.0"
    networks:
      - soa-net
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8500/v1/status/leader" ]
      interval: 5s
      timeout: 3s
      retries: 5

  consul-register:
    image: curlimages/curl:latest
    container_name: consul-register
    depends_on:
      - web-server
      - consul
    volumes:
      - ./first-module/web-module/register-consul.sh:/register-consul.sh
    #      - ./register-consul.sh:/register-consul.sh
    entrypoint: [ "sh", "/register-consul.sh" ]
    networks:
      - soa-net

  dev-pg12:
    container_name: soa-db
    image: postgres:17
    environment:
      POSTGRES_DB: soa
      POSTGRES_USER: soa
      POSTGRES_PASSWORD: soasoa
    volumes:
      - dev-db-volume:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - soa-net

  #  swagger-ui:
  #    image: swaggerapi/swagger-ui
  #    container_name: organization-api-docs
  #    ports:
  #      - "8080:8080"
  #    volumes:
  #      - ./:/usr/share/nginx/html/specs
  #    environment:
  #      SWAGGER_JSON: /usr/share/nginx/html/specs/ipsreleasenofun.yml
  ##      API_URL: http://localhost:8080/organization-service/v3/api-docs
  #    restart: unless-stopped
  #    networks:
  #      - soa-net
  #  frontend:
  #    build:
  #      context: ./nginx/frontend
  #      dockerfile: Dockerfile-frontend
  #    container_name: frontend
  #    ports:
  #      - "80:80"
  #    networks:
  #      - soa-net
  #    depends_on:
  #      - gateway-service

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile-nginx
    container_name: nginx
    ports:
      - "8443:443"
    networks:
      - soa-net
    restart: unless-stopped
    volumes:
      - ./nginx/certs:/certs

  certs-gen:
    image: openjdk:17-ea-17-slim
    container_name: certs-gen
    volumes:
      - ./nginx/certs:/certs
      - ./nginx/certs-scripts:/certs-scripts:ro
    working_dir: /certs
    entrypoint: [ "sh", "/certs-scripts/generate-certs.sh" ]


volumes:
  dev-db-volume: {}
  nginx-certs: {}

networks:
  soa-net:
    driver: bridge