services:
  config-service:
    build: ./config-service
    container_name: config-service
    ports:
      - "8888:8888"
    networks:
      - soa-net
    restart: unless-stopped

  eureka-service:
    build: ./eureka-service
    container_name: eureka-service
    ports:
      - "8761:8761"
    networks:
      - soa-net
    restart: unless-stopped
    depends_on:
      - config-service

  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "8080:8080"
    networks:
      - soa-net
    restart: unless-stopped
    depends_on:
      - eureka-service
      - config-service

  orgdirectory-service:
    build: ./second-service
    container_name: orgdirectory-service
    ports:
      - "8081:8081"
    networks:
      - soa-net
    restart: unless-stopped
    depends_on:
      - eureka-service
      - config-service
      - wildfly

  wildfly:
    build:
      context: ./first-module
      dockerfile: Dockerfile-wildfly
    container_name: organization-service-wildfly
    ports:
      - "8082:8080"
      - "9990:9990"
    networks:
      - soa-net
    restart: unless-stopped

  dev-pg12:
    container_name: soa-db
    image: postgres:17
    environment:
      POSTGRES_DB: soa
      POSTGRES_USER: soa
      POSTGRES_PASSWORD: soasoa
    volumes:
      - dev-db-volume:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - soa-net

volumes:
  dev-db-volume: {}

networks:
  soa-net:
    driver: bridge