server:
  port: 8081

spring:
  application:
    name: orgdirectory-service
  cloud:
    loadbalancer:
      enabled: true

first-service:
  base-url: http://gateway-service/organizations

eureka:
  client:
    service-url:
      defaultZone: http://eureka-service:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.loadbalancer: DEBUG